body {
  margin-top: 125px;
}
.navbar-fixed-top {
  .nav {
    padding: 15px 0;
  }
  .navbar-brand {
    padding: 0 15px;
  }
}

.modal {
  position: fixed;
  top: 90;
  right: 0;
  bottom: 0;
  left: 0;
}